@charset 'utf-8';

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
img {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body,
code {
  font: 14px Verdana, "Dotum", "AppleGothic", "snas-serif";
  color: #222;
  background: #fff;
}
body {
  min-width: 1280px;
}
li {
  list-style: none;
}
img,
fieldset {
  border: none;
  vertical-align: top;
}
table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
caption {
  display: none;
}
th,
td {
  border: 0;
  vertical-align: top;
}
button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}
hr.layout {
  display: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:active {
  text-decoration: none;
}
* {
  font-family: "Montserrat", "Noto Sans KR", "Sans-serif";
  letter-spacing: -0.25px;
}
input,
select,
textarea {
  font-size: 100%;
  font-family: "Noto Sans KR", "Sans-serif";
}
select {
  height: 34px;
  border: 1px solid #bdbdbd;
}
textarea {
  padding: 5px 6px;
  border: 1px solid #bdbdbd;
  line-height: 1.5;
}
legend {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}
